@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-image {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loading-text {
  display: flex;
  margin-top: 10px;
  font-weight: 600;
}

.additional-text {
    margin-top: 10px; /* Add some margin top to separate from the loading text */
    font-size: 1.25rem; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }

.wave {
  display: inline-block;
  animation: wave 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wave {
  0%, 60%, 100% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
}
