@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-overlay {
  @apply fixed inset-0 flex items-center justify-center bg-white bg-opacity-50 z-50;
}

.loading-container {
  @apply flex flex-col items-center justify-center;
}

.loading-image {
  @apply w-24 h-24 animate-spin;
}

.loading-text {
  @apply flex mt-2 font-semibold;
}

.additional-text {
  @apply mt-2 text-lg text-gray-800;
}

.wave {
  display: inline-block;
  animation: wave 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wave {
  0%, 60%, 100% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
}
